@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
@import url("../fonts/HalvarBreit-Rg/style.css");
@import url("../fonts/Roboto-Regular/style.css");
@import url("../fonts/Roboto-Bold/style.css");
@import url("../fonts/Roboto-Light/style.css");

:root {
    --font-title: "Halvar Breitschrift";
    --font-primary: "Roboto";
    --font-primary-bold: 700;
    --font-primary-light: 300;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-grey: #636363;
    --color-light: #fafafa;
    --color-dark: #111111;
}

html,
body {
    color: var(--color-grey);
    background-color: var(--color-light);
    font-size: 16px;
    font-weight: 400;
}

*:focus {
    outline: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-black);
    font-family: var(--font-title);
    margin-top: 0;
    text-transform: uppercase;
}

h1,
.h1 {
    font-size: 3rem
}

h2,
.h2 {
    font-size: 2.5rem
}

h3,
.h3 {
    font-size: 2.2rem
}

h4,
.h4 {
    font-size: 1.85rem
}

h5,
.h5 {
    font-size: 1.6rem
}

h6,
.h6 {
    font-size: 1.325rem
}

html,
body,
a,
p,
ul,
ol,
li,
div {
    font-family: var(--font-primary);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: var(--color-dark);
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    outline: 0 !important;
    text-decoration: none;
}

a:hover,
a:active,
a:focus {
    color: var(--color-black);
    text-decoration: none;
}

.text-link,
.text-link:focus {
    color: var(--color-grey);
}

.text-link:hover {
    color: var(--color-dark);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    color: var(--color-grey);
    font-size: 1rem;
}

ul li:last-child,
ol li:last-child {
    margin-bottom: 0
}

[role=button], a, area, button, input, label, select, summary, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation
}

/* BUTTONS */

.btn {
    display: inline-block;
    font-family: var(--font-title);
    font-size: 1rem;
    text-transform: uppercase;
    border: 2px solid transparent;
    border-radius: 0;
    padding: 0.875rem 2rem;
    white-space: nowrap;
    box-shadow: none;
    transition: all 0.2s ease-in-out
}

.btn:focus, button.btn:focus {
    outline: none !important;
    box-shadow: none !important
}

button:focus, button:active {
    outline: none !important;
    box-shadow: none !important
}

.btn:hover, .btn:active {
    cursor: pointer;
    box-shadow: none
}

.btn-group-sm>.btn, .btn-sm {
    padding: 0.75rem 1.875rem;
    font-size: 0.875rem;
    line-height: 1.475;
    border-radius: 0;
    box-shadow: none
}

.btn-group-sm>.btn:hover, .btn-sm:hover {
    box-shadow: none
}

.btn i.fas, .btn i.far, .btn i.fab {
    font-size: 0.875rem
}

.btn-sm i.fas, .btn-sm i.far, .btn-sm i.fab {
    font-size: 0.75rem
}

.btn-icon {
    display: inline-block;
    width: 52px;
    height: 52px;
    max-width: 52px !important;
    max-height: 52px !important;
    min-width: auto;
    vertical-align: middle;
    line-height: 52px;
    padding: 0 !important
}

.btn-circle {
    border-radius: 50% !important
}

.btn-primary, .btn-primary:focus, .btn-primary.active {
    color: #fff !important;
    background-color: #111 !important;
    border-color: #111 !important
}

.btn-primary:hover, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
    color: #111 !important;
    background-color: transparent !important;
    border-color: #111 !important
}

.btn-outline-secondary, .btn-outline-secondary:focus, .btn-outline-secondary.active, .btn-outline-secondary:active {
    color: #c2c2c2 !important;
    background-image: none;
    background-color: #ccc;
    border-color: #c2c2c2 !important
}

.btn-outline-secondary:hover, .show>.btn-outline-secondary.dropdown-toggle {
    color: #fff !important;
    background-color: #c2c2c2 !important;
    border-color: #c2c2c2 !important
}

.btn-secondary.disabled, .btn-secondary:disabled {
    color: #fff !important;
    background-color: #c2c2c2 !important;
    border-color: #c2c2c2 !important;
    opacity: 0.8 !important
}

.btn-outline-primary,
.btn-outline-primary:focus,
.btn-outline-primary.active,
.btn-outline-primary:active {
    color: #111 !important;
    background-image: none;
    background-color: transparent !important;
    border-color: #111 !important
}

.btn-outline-primary:hover,
.show>.btn-outline-primary.dropdown-toggle {
    color: #fff !important;
    background-color: #111 !important;
    border-color: #111 !important
}

[type=submit],
.btn-submit {
    height: 52px;
    min-height: 52px;
    max-height: 52px;
    line-height: 1
}

.btn-submit {
    width: 100%;
    opacity: 1 !important;
    border: 2px solid transparent
}

/* CARD */

.card {
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 2rem;
    box-shadow: none
}

.card-columns .card {
    margin-bottom: 2rem;
    box-shadow: none !important
}

.hover-card .card {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
    transition: all 0.2s ease-in-out
}

.hover-card:hover .card {
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.05)
}

.hover-card .card-title {
    font-size: 1.125rem;
    transition: ease-in-out 0.3s
}

.hover-card .card-body {
    padding: 1.75rem
}

.hover-card .card-footer {
    padding: 1.75rem;
    padding-top: 0;
    background-color: inherit;
    border: none;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.card-body {
    padding: 4rem 2rem
}

.card-title {
    font-size: 2rem;
    margin-bottom: 0
}

/* TOP-MENU */

.navbar {
    padding: 0;
    border-radius: 0;
    z-index: 98
}

.nav-link {
    font-size: 1rem;
    font-family: var(--font-title);
    text-transform: uppercase;
    transition: all 0.2s ease-in-out
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out
}

.fixed-top.nav-scroll {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.01), 0 3px 6px rgba(0, 0, 0, 0.02)
}

.navbar.nav-fixed {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.005), 0 3px 6px rgba(0, 0, 0, 0.01)
}

.navbar-brand {
    font-size: 2rem;
    line-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: .75rem;
    margin-left: 0;
    opacity: 1 !important
}

.navbar-brand img {
    width: auto;
    max-width: 160px;
    max-height: 22px
}

.navbar-light .navbar-brand {
    color: #000
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:focus {
    color: #000
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:focus {
    color: #000
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.open,
.navbar-light .navbar-nav .open>.nav-link {
    color: #000
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .active>.nav-link:hover,
.navbar-light .navbar-nav .nav-link.active:hover,
.navbar-light .navbar-nav .nav-link.open:hover,
.navbar-light .navbar-nav .open>.nav-link:hover {
    color: #000
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #000
}

.navbar-toggler {
    border: none !important;
    box-shadow: none !important;
    padding: .25rem 0
}

.navbar-toggler {
    border: none;
    background: transparent !important;
    z-index: 999999
}

.navbar-toggler.collapsed {
    z-index: 999999
}

.navbar-toggler:focus {
    outline: none;
    background: transparent !important
}

.navbar-toggler .icon-bar {
    background-color: #000;
    transform: rotate(0deg) translate(0px, 0px);
    transition: ease all .3s
}

.navbar-toggler .icon-bar {
    display: block;
    width: 34px;
    height: 3px;
    border-radius: 0
}

.navbar-toggler .icon-bar+.icon-bar {
    margin-top: 6px
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
    transform: rotate(45deg) translate(7px, 7px);
    transition: ease all .3s
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
    opacity: 0;
    transition: ease all .3s
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
    transition: ease all .3s
}

.navbar-button {
    padding: 0;
    margin: 0
}

/* PROMO */

.promo-box {
    background-color: #fff;
    margin-bottom: 2rem;
    padding: 3rem 2.5rem;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 0;
    transition: all 0.2s ease-in-out
}

.promo-box:hover {
    border-color: transparent;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05)
}

.main-container .promo-box:last-child {
    margin-bottom: 0
}

.promo-container {
    position: relative
}

.promo-icon {
    font-size: 50px;
    border-radius: 50px
}

.promo-center {
    text-align: center
}

.promo-center .promo-icon {
    margin-left: auto;
    margin-right: auto
}

.promo-big .promo-icon {
    left: 0;
    right: 0
}

.promo-center .promo-big {
    margin-left: auto;
    margin-right: auto
}

.box-title {
    font-size: 1.25rem;
    margin-bottom: 10px
}

.box-description {
    font-size: 0.875rem;
    margin-bottom: 0
}

/*** SECTION STYLES ***/

.main-container {
    position: relative;
    padding: 100px 0;
}

section {
    position: relative;
    padding: 50px 0;
}

section.lg {
    padding: 120px 0;
}

section.xl {
    padding: 200px 0;
}

/* HERO */

.hero {
    padding: 100px 0;
    position: relative;
    overflow: hidden;
}

.section-title {
    font-size: 38px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.h1-subtitle {
    font-family: var(--font-title);
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.hero-text {
    font-size: 18px;
    max-width: 600px;
    width: 100%;
    margin-bottom: 40px;
}

.hero .page-title {
    font-size: 64px;
}

/* slider */

.slider-text {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider-text::before,
.slider-text::after {
    background: linear-gradient(to right, white 0%, rgb(0 0 0 / 0%) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 100px;
    z-index: 2;
}

.slider-text::before {
    top: 0;
    left: 0;
}

.slider-text::after {
    top: 0;
    right: 0;
    transform: rotateZ(180deg);
}

.slider-text-track {
    display: flex;
    align-items: center;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-animation: marquee-left 34s linear infinite;
    animation: marquee-left 34s linear infinite;
}

.slider-text:hover .slider-text-track {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.slider-text-item {
    width: max-content;
    padding: 0 3rem;
}

.slider-text-item>span {
    white-space: nowrap
}

@-webkit-keyframes marquee-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@keyframes marquee-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

/* PORTFOLIO */

.project {
    border-radius: 0
}

.project figure {
    margin: 0
}

.project .hovereffect {
    border-radius: 0;
    margin: 14px 0
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    z-index: 2;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05)
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    background: transparent;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.hovereffect:hover .overlay {
    opacity: 1;
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all .3s linear;
    transition: all .3s linear
}

.hovereffect-title .project-title-wrapper {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    padding: 10px;
    transform: translateY(-50%);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.project:hover .hovereffect-title .project-title-wrapper {
    top: 50%
}

.hovereffect-title .project-title {
    color: #000;
    font-size: 1.25rem;
    background: transparent;
    transition: all .2s ease-in-out
}

.hovereffect-title .project-title:hover {
    color: #111
}

.hovereffect-title p {
    font-size: 0.75rem;
    color: var(--color-grey);
    background: transparent;
    margin: 0
}

.hovereffect.effect-overlay .overlay {
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.92)
}

.effect-overlay .hovereffect-title .project-title-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: none
}

.project:hover .effect-overlay .hovereffect-title .project-title-wrapper {
    top: 0
}

.effect-overlay .overlay-title {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(50%);
    transition: all 0.3s ease-in-out
}

.project:hover .effect-overlay .overlay-title {
    transform: translateY(45%)
}

.effect-overlay .project-title {
    margin-bottom: 3px
}

.effect-overlay .project-skill {
    font-size: 0.75rem;
}

/* FOOTER */

footer {
    padding: 3rem 0;
}

footer p {
    font-size: 1.125rem;
    color: #000;
    margin-bottom: 0;
}

.footer-logo {
    width: auto;
    max-height: 28px;
    font-size: 28px;
}

/* BOTTOM-BUTTON */

.btn-icon.btn-floating {
    border-width: 1px;
}

::selection {
    color: #fff;
    background: #232323;
}

.text-xs {
    font-size: 10px;
}

.fz-12 {
    font-size: 12px;
}

.fz-14 {
    font-size: 14px;
}

.fz-16 {
    font-size: 16px;
}

.fz-24 {
    font-size: 24px;
}

.fz-36 {
    font-size: 36px;
}

.bg-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.bg-img.img-bottom {
    background-position: center bottom;
}

.btn-floating {
    position: fixed;
    bottom: 130px;
    right: 15px;
    display: none;
    z-index: 99;
}

.mt-45 {
    margin-top: 45px !important
}

.mb-10 {
    margin-bottom: 10px !important
}

.mb-15 {
    margin-bottom: 15px !important
}

.mb-20 {
    margin-bottom: 20px !important
}

.mb-25 {
    margin-bottom: 25px !important
}

.mb-30 {
    margin-bottom: 30px !important
}

.mb-40 {
    margin-bottom: 40px !important
}

.mb-45 {
    margin-bottom: 45px !important
}

.mb-50 {
    margin-bottom: 50px !important
}

.mb-100 {
    margin-bottom: 100px !important
}

.ml-30 {
    margin-left: 30px !important
}

.mr-5 {
    margin-right: 5px !important
}

.mr-10 {
    margin-right: 10px !important
}

.mr-15 {
    margin-right: 15px !important
}

.m-y-5 {
    margin-top: 5px !important;
    margin-bottom: 5px !important
}

.m-10 {
    margin: 10px !important;
}

.pr-80 {
    padding-right: 80px !important
}

.bg-body {
    background-color: #fafafa !important
}

.bg-white {
    background-color: #fff !important
}

.bg-primary {
    background-color: #111 !important
}

.text-primary {
    color: #111 !important
}

.raised-sm, .shadow-sm {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05) !important
}

/* PAGINATION */

.pagination .page-link,
.page-item:not(:first-child) .page-link {
    margin: 4px
}

.page-item.disabled {
    cursor: not-allowed
}

.page-item.disabled .page-link {
    color: var(--color-grey);
    pointer-events: none;
    cursor: not-allowed;
    background-color: transparent;
    border-color: transparent;
    opacity: 0.5
}

.page-item.active .page-link {
    color: #fff;
    background-color: #111 !important;
    border-color: #111 !important;
}

.page-item.active .page-link:hover {
    color: #fff !important;
    background-color: #000 !important;
    border-color: #000 !important;
}

.page-link {
    color: #000;
    font-size: 0.875rem;
    background-color: transparent !important;
    border: none;
    border-radius: 50%;
    padding: 7px 15px;
}

.page-link:hover {
    color: #111 !important;
    background-color: transparent;
    border: none;
}

/* SIDEBAR WIGETS */

.widget {
    background: #fff;
    margin: 15px 0;
    padding: 30px;
    border: 1px solid #f1f1f1;
    border-radius: 0
}

.widget-title {
    font-size: 1.5rem;
    margin-bottom: 25px
}

.tag-cloud .btn {
    margin: 5px 3px !important;
    border-radius: 50px;
    font-size: 12px;
    line-height: 1.5rem;
    padding: 8px 24px
}

.list-icon li,
.list-icon a {
    position: relative;
    padding-left: 23px;
    margin-bottom: 15px
}

.list-icon li:before,
.list-icon a:before {
    color: var(--color-grey);
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0.875rem;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    line-height: 1.325rem
}

.list-icon.list-arrow li:before,
.list-icon.list-arrow a:before {
    content: "\f054"
}

.list-primary li:before,
.list-primary a:before {
    color: #111
}

.list-has-link li {
    padding-left: 0
}

.list-has-link li:before {
    display: none
}

.menu-list a {
    font-size: 14px;
    color: var(--color-grey);
}

.menu-list li {
    margin-bottom: 8px
}

.menu-list.list-icon a {
    padding-left: 15px
}

.menu-list li:last-child {
    margin-bottom: 0
}

.menu-list a:hover {
    color: #000
}

/* FORM */

.form-group,
.input-group {
    margin-bottom: 25px
}

.form-control {
    color: var(--color-grey);
    background: transparent;
    font-size: 0.875rem;
    display: inline-block;
    width: 100%;
    height: 52px;
    padding: 15px 20px;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #c2c2c2;
    border-radius: 0;
    -webkit-appearance: none;
    appearance: none;
    transition: all ease-in-out .2s;
    box-shadow: none;
    -webkit-box-shadow: none
}

input:focus,
textarea:focus,
.custom-select:focus,
.multiple-selector:focus {
    color: #636363 !important;
    background-color: transparent !important;
    outline: none !important;
    box-shadow: 0px 1px 4px rgb(0 0 0 / 5%) !important;
    -webkit-box-shadow: 0px 1px 4px rgb(0 0 0 / 5%) !important;
    border-color: #232323 !important;
    z-index: 0 !important;
}

.needs-validation .form-control:focus,
.needs-validation .form-control:active {
    border-color: #232323 !important;
}

textarea.form-control {
    margin-bottom: -7px;
    min-height: 120px;
    max-height: 150px;
}

.input-w-overlap-btn .btn-icon {
    width: 46px !important;
    height: 46px !important;
    max-width: 46px !important;
    max-height: 46px !important;
}

.overlapping-btn {
    position: absolute !important;
    right: 0 !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    z-index: 1 !important;
}

.input-group .overlapping-btn {
    right: 3px !important;
}

.input-w-overlap-btn .btn-icon i {
    display: block;
    margin-top: -1px;
    margin-right: -1px;
    line-height: 46px;
}

/* PORTFOLIO SINGLE */

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}

.top-30 {
    top: 30px !important
}

.spacer {
    margin: 2rem 0;
    line-height: 0
}

.spacer-line-fw {
    width: 100%;
    line-height: 0;
    border-bottom: 1px solid #f1f1f1
}

.spacer-2x {
    margin: 3rem 0;
    line-height: 0
}

.border-faded {
    border-color: #f1f1f1 !important
}

/* PRICING */

.b-1 {
    border: 1px solid transparent !important
}

.border-light-grey {
    border-color: #f1f1f1 !important
}

.featured-pt .card-body {
    padding-top: 6rem;
    padding-bottom: 6rem
}

.p-20 {
    padding: 20px !important
}

.b-0 {
    border: none !important
}

/* BLOG-ITEM */

.blog-item {
    display: flex;
    flex-direction: column;
}





























/* MEDIA */

/* MAX-WIDTH */

@media only screen and (max-width: 991px) {
    .navbar-expand-lg.navbar {
        padding: 1.375rem 0;
    }

    .navbar-expand-lg .navbar-brand {
        margin-left: 0;
    }

    .navbar-expand-lg .navbar-collapse {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    .navbar-expand-lg .navbar-collapse .nav-link {
        padding: 1rem 0;
    }
    
    .navbar-expand-lg .navbar-collapse .navbar-nav {
        padding-top: 3rem;
    }

    .navbar-expand-lg .navbar-button .btn {
        width: 100%;
        max-width: 100% !important;
    }
}

@media only screen and (max-width: 767px) {
    .btn-icon.btn-floating {
        width: 45px;
        height: 45px;
        line-height: 45px;
        right: 10px;
        bottom: 10px;
    }

    .btn-icon.btn-floating i {
        line-height: 45px;
    }
}

@media only screen and (max-width: 575px) {
    footer {
        text-align: center;
    }
}

@media only screen and (max-width: 480px) {
    .hero h1 {
        font-size: 1.5rem;
    }

    .hero-text {
        max-width: 100%;
        font-size: 14px;
    }

    .section-title {
        font-size: 1.75rem;
    }

    .hover-card .card-title,
    .hover-card .card-title.fz-20,
    .prject-title,
    .box-title {
        font-size: 1rem !important;
    }
}

/* MIN-WIDTH */

@media only screen and (min-width: 992px) {
    .container-fluid {
        padding-left: 30px;
        padding-right: 30px;
    }

    .navbar-expand-lg .navbar-nav {
        transition: all 0.2s ease-in-out
    }

    .navbar-expand-lg .navbar-nav:hover .nav-link {
        opacity: 0.5
    }

    .navbar-expand-lg .navbar-nav .nav-link:hover {
        opacity: 1
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 0 1rem;
        height: 90px;
        line-height: 90px
    }
}

@media only screen and (min-width: 1200px) {}